body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", Arial;
  font-size: 14px;
}

#site {
  margin: 0 auto;
  width: 600px;
  padding: 30px 0 0 0;
  color: #65615e;
}

h1, h2, h3 {
  font-size: 18px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #001428;
  margin-bottom: 5px;
}

h3 {
  font-size: 14px;
  padding: 15px 0 5px 0;
  margin-bottom: 5px;
  border-color: #cccccc;
}

img {
  border: 0;
}

p {
  padding: 0 0 5px 0;
}

a {
  color: #000;
}

header {
  text-align: center;
  padding: 50px 0;
}

#logo {
  display: block;
  text-indent: -9999px;
  height: 50px;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
}

#logo hr {
  display: block;
  height: 1px;
  overflow: hidden;
  background: #bbb;
  border: 0;
  padding: 0;
  margin: 30px 0 20px 0;
}

.claim {
  text-transform: uppercase;
  color: #bbb;
}

#site ul {
  padding: 10px 0 10px 20px;
  list-style: circle;
}

.buttons {
  margin-bottom: 100px;
  text-align: center;
}

.buttons a {
  display: inline-block;
  background: #0078be;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  width: 40%;
  border-radius: 2px;
  text-decoration: none;
}

.buttons a:hover {
  background: #1c8bc1;
}

.buttons a:last-child {
  margin: 0;
}
